<!--{{userForm.value | json}}
{{fileList | json}}-->
{{isUploadable}}
<form nz-form [formGroup]="userForm">    
    
    <div class="clearfix">
        <img [src]="imageBase64" [ngStyle]="{ 'width': '200px' }"/>

        <nz-upload
            nzAction="http://localhost:8090/user/image"
            nzListType="picture-card"
            [(nzFileList)]="fileList"
            [nzShowButton]="isUploadable"
            [nzShowUploadList]="showUploadList"
            [nzData]="imageUploadParam"
            [nzPreview]="handlePreview">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">Upload</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
            </ng-template>
        </nz-modal>
    </div>

    <nz-form-item>
        <nz-form-label nzFor="userId" nzRequired [nzSm]="4" [nzXs]="24">아이디</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzHasFeedback>
            <input style="ime-mode: disabled" nz-input id="userId" formControlName="userId" placeholder="아이디를 입력해주세요.">
            <nz-form-explain *ngIf="userForm.get('userId').dirty && userForm.get('userId').hasError('required')">The input is Required!</nz-form-explain>
            <nz-form-explain *ngIf="userForm.get('userId').dirty && userForm.get('userId').hasError('exists')">{{userForm.get('userId').getError('exists')}}</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="name" [nzSm]="4" [nzXs]="24" nzRequired>이름</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzHasFeedback>
            <input style="ime-mode: inactive" id="name" nz-input formControlName="name">
            <nz-form-explain *ngIf="userForm.get('name').dirty && userForm.get('name').hasError('required')">The input is Required!</nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
            <input style="ime-mode: inactive" nz-input type="password" id="password" formControlName="password">
            <nz-form-explain *ngIf="userForm.get('password').dirty && userForm.get('password').hasError('required')">Please input your password!</nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="enabled">사용여부</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
            <label id="enabled" nz-checkbox formControlName="enabled"></label>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="enabled">권한</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
            <nz-select formControlName="authorityList" [nzSize]="'default'" nzMode="multiple" nzPlaceHolder="Please select">
                <nz-option *ngFor="let option of authList" [nzLabel]="option.description" [nzValue]="option.authority"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="enabled">메뉴그룹</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
            <nz-select formControlName="menuGroupList" [nzSize]="'default'" nzMode="multiple" nzPlaceHolder="Please select">
                <nz-option *ngFor="let option of menuGroupList" [nzLabel]="option.menuGroupName" [nzValue]="option.menuGroupCode"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

</form>

<div class="footer">
  <button
      nz-button
      (click)="closeForm()">
      <i nz-icon type="close" theme="outline"></i>
      닫기
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button
      nz-button
      nzType="primary"
      nz-popconfirm
      nzTitle="저장하시겠습니까?"
      (nzOnConfirm)="registerUser()"
      (nzOnCancel)="false">
      <i nz-icon type="save" theme="outline"></i>
      저장
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button
      nz-button
      nzType="danger"
      nz-popconfirm
      nzTitle="삭제하시겠습니까?"
      (nzOnConfirm)="deleteUser()"
      (nzOnCancel)="false">
      <i nz-icon type="delete" theme="outline"></i>
      삭제
  </button>
</div>
