.logo {
    width: 200px;
    height: 48px;    
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
    vertical-align: middle;
    align-content: center;
    text-align: center;    
    
}

.sidebar {
    background: white;
    height: calc(100vh - 80px);
}

.sidemenugroup {
    width: 200px;
}

.header {
    height: 48px;
    padding:0;
}

.main-content {
    margin: 24px 16px 0px 16px;
    background-color: white;
    height: calc(100vh - 141px);
    overflow-y: auto;
}

.footer {
    height: 32px;
    text-align: center;
    background-color: green;
}
