{{programForm.value | json}}
<form nz-form [formGroup]="programForm">
    <nz-form-item>
        <nz-form-label nzFor="programCode" nzRequired [nzSm]="6" [nzXs]="24">프로그램코드</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="programCode" formControlName="programCode" placeholder="프로그램코드를 입력해주세요.">
            <nz-form-explain *ngIf="programForm.get('programCode').dirty && programForm.get('programCode').errors">The input is Required!</nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="programName" nzRequired [nzSm]="6" [nzXs]="24">프로그램명</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="programName" formControlName="programName" placeholder="프로그램명을 입력해주세요.">
            <nz-form-explain *ngIf="programForm.get('programName').dirty && programForm.get('programName').errors">The input is Required!</nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="url" nzRequired [nzSm]="6" [nzXs]="24">URL 정보</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="url" formControlName="url" placeholder="URL 정보를 입력해주세요.">
            <nz-form-explain *ngIf="programForm.get('url').dirty && programForm.get('url').errors">The input is Required!</nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="description" [nzSm]="6" [nzXs]="24">설명</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <textarea nz-input id="description" formControlName="description" placeholder="프로그램 설명을 입력해주세요." [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
    </nz-form-item>

</form>

<div class="footer">
    <button
        nz-button
        (click)="closeForm()">
        <i nz-icon type="form" theme="outline"></i>
        닫기
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="primary"
        nz-popconfirm
        nzTitle="저장하시겠습니까?"
        (nzOnConfirm)="submitProgram()"
        (nzOnCancel)="false">
        <i nz-icon type="save" theme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="danger"
        nz-popconfirm
        nzTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteProgram()"
        (nzOnCancel)="false">
        <i nz-icon type="delete" theme="outline"></i>
        삭제
    </button>

</div>
